#root {
  max-width: 1280px;
  padding-top: 2rem;
  padding-bottom: -2em;
  margin: 0 auto;
  width: 70vw;
  text-align: center;
  /* margin-right: auto;
  margin-left: auto;
  display: flex; */
}

.appContent{
  margin-top: 5em;
}

@media only screen and (max-width: 565px) {
  #root {
    width: 80vw;
  }
}
